@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  color: black;
  text-align: center;
}

body {
  background-color: gray;
}

#dropdown {
  display: inline-block;
  text-align: center;
  padding: 2em;
  width: 300px;
}

#dropdown2 {
  display: inline-block;
  text-align: center;
  padding: 2em;
  width: 300px
}

#container {
  text-align: center;
  border: 2px solid black;
  border-radius: 1em;
  width: 700px;
  margin: auto;
  background-color: rgba(222, 222, 222, .5);
}

button {
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

